[submodule "lib/utils"]
	path = lib/utils
	url = git@github.com:poneill/python_utils.git
[submodule "pub/paper/bib"]
	path = pub/paper/bib
	url = git@github.com:poneill/bib.git
[submodule "data/motifs"]
	path = data/motifs
	url = git://github.com/poneill/motifs.git
[submodule "src/sufficache"]
	path = src/sufficache
	url = git://github.com/poneill/sufficache.git
